*{margin: 0;
padding: 0;}


.title{width: 100%;
height: 200px;
display: flex;
color: white;
font-weight: bolder;
font-size: 30px;
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(64,185,141,1) 100%);}

.title p{margin-top:100px;
    margin-left: 40%;
text-align: center;}
.sub{width: 150px;
height: 150px;
font-size: 25px;
margin: 20px;
align-items: center;
border-radius: 10px;
box-shadow: 3px 3px 3px 3px darkgray;
background: rgb(78,195,34);
background: linear-gradient(0deg, rgba(78,195,34,1) 12%, rgba(253,187,45,1) 100%);
border: 1px solid darkgray;}

.sub p{text-align: center;}

a{text-decoration-line: none;}
table{box-shadow: 2px 2px 2px 2px darkkhaki;
margin-left: 20%;
margin-top: 20px;}