body{margin:0;}
.yhead{font-size: 30px;
  font-weight:bolder;
  text-align: center ;
}
div p{width:70%;S
  margin:15%;
  box-shadow: 2px 2px 2px 2px darkgrey;
  font-size: 35px;
  border-radius: 5px;
  text-align: center ;
  font-weight: bold;
  
}

div p:hover{background: darkcyan;
  color:white;
}

a{text-decoration: none;
}